<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2>New scene for <%= @tale.name %> </h2>
      <%= simple_form_for [@tale, @scene] do |f| %>
        <%= f.input :story, placeholder: "Write your story here", :as => :text, :input_html => { :rows => 7 } %>
        <%= f.input :background, as: :file %>

        <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
