<div id="story-data" data-story="<%= @story.to_json %>" data-story-index="0"></div>

<div class="background" style="background-image: url(<%= cl_image_path @scene.background.key, crop: :fill if @scene.background.attached? %>)">
  <div class="show-stories">
    <div class="container box-dialog">

      <%# Display de dialogo %>
      <% @story.each_with_index do |dialogue, index| %>
          <p class="story-line <%= "d-none" unless index == 0 %>"><%= dialogue.html_safe %></p>
        <% end %>
      <%# Display dos personagens %>
      <% @scene.npcs.each do |npc|  %>
        <%= cl_image_tag npc.photo.key, crop: :fill if npc.photo.attached? %>
      <% end %>
      <%# Display das escolhas %>
      <div id="actions" class="d-none">
        <% @scene.choices.each do |choice| %>
          <p><%= link_to choice.action, scene_path(choice.next_scene), class: "button-choice btn btn-success" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= audio_tag("nature_music.mp3", autoplay: true, loop: true) %>
