<div id="story-data" data-story="<%= @story.to_json %>" data-story-index="0"></div>

<div class="background" style="background-image: url(<%= image_path "background.jpg" %>)">
  <div class="show-stories">
    <div class="navbar-game">
      <!-- Botões dos Modais -->
      <button type="button" class="btn btn btn-success mr-1" data-toggle="modal" data-target="#ModalStory">
        Story
      </button>

      <button type="button" class="btn btn btn-success mr-1" data-toggle="modal" data-target="#ModalCharacters">
        Characters
      </button>

      <button type="button" class="btn btn btn-success mr-1" data-toggle="modal" data-target="#ModalMap">
        Map
      </button>

      <%= link_to "Exit", root_path, class: "exit-navbar-game btn btn-dark"%>
    </div>
      <%# Display dos personagens %>
      <% @scene.encounters.each do |encounter| %>
      <div class="character <%= encounter.npc_position %> ">
        <%= cl_image_tag encounter.npc.photo.key, crop: :fill, id: encounter.npc.name if encounter.npc.photo.attached? %>
        </div>
      <% end %>

    <div class="container box-dialog">
      <%# Display de dialogo %>
      <div id="dialogue">
        <% @story.each_with_index do |dialogue, index| %>
          <p class="story-line <%= "d-none" unless index.zero? %>"><%= dialogue.html_safe %></p>
        <% end %>
        <i class="arrow floating fas fa-caret-down"></i>
      </div>

      <%# Display das escolhas %>
      <div id="actions" class="d-none mt-3">
        <% @scene.choices.each do |choice| %>
          <p><%= link_to choice.action, scene_path(choice.next_scene), class: "button-choice btn btn-dark" %></p>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- Modal da história -->
<div class="modal" id="ModalStory" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <p>The Kingdom of Dalrath, the largest human nation ever created, is at the center of the world when it comes to politics, technology, magic, and wealth. The realm has seen its fair share of strife and war, but currently its inhabitants live in an era of peace. <br> <br> That is precisely why so many mercenaries, soldiers of fortune, grave-robbers, and even adventurous nobles have banded together in search of fame, glory, and riches. When there is no adventure to be found at home, one can be certain that in the outskirts and the wilds, there is much treasure and danger to be found. <br> <br> You are a lesser human noble, the captain of a Confraternity called 'The Dead Men'. You and your companions are on a months long journey on the trail of Ardrath's Hoard. You have set up camp in the woods and gathered around the campfire to unwind from a hard day of travel...</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal dos personagens -->
<div class="modal" id="ModalCharacters" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Characters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <div class="container-character">
          <%# CARD 1 %>
          <div class="card-character card-1">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/halia-card.png") %>
            </div>
            <div class="title">Halia</div>
          </div>
          <%# CARD 2 %>
          <div class="card-character card-2">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/ziraldo-card.png") %>
            </div>
            <div class="title">Ziraldo</div>
          </div>
          <%# CARD 3 %>
          <div class="card-character card-3">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/jorek-card.png") %>
            </div>
            <div class="title">Jorek</div>
          </div>
          <%# CARD 4 %>
          <div class="card-character card-4">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638987142/The%20Hoard%20of%20Adrarth/characters-card/valena-card.png") %>
            </div>
            <div class="title">Valena</div>
          </div>
          <%# CARD 5 %>
          <div class="card-character card-5">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/agronak-card.png") %>
            </div>
            <div class="title">Agronak</div>
          </div>
          <%# CARD 6 %>
          <div class="card-character card-6">
            <div class="image-character border border-danger">
              <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/barnabas-card.png") %>
            </div>
            <div class="title">Barnabas</div>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal do mapa -->
<div class="modal" id="ModalMap" tabindex="-1" role="dialog">
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>
          <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638804940/The%20Hoard%20of%20Adrarth/map.jpg", size: "1024x768", class: "border border-danger") %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Música -->
<%= audio_tag("nature_music.mp3", autoplay: true, loop: true) %>
