<div class="container d-flex justify-content-center bg-dark">
  <div class="card-password">
    <div class="card-body">
        <div class="container text-center">
          <h2>Forgot your password?</h2>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class:"button-form btn-block mb-3"%>
          </div>
        <% end %>

        <div class="container text-center">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
