<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to index_path, class: "navbar-brand" do %>
    <%= image_tag "logo_tree.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li> <%= link_to "Home", index_path, class: "nav-link" %> </li>
      <% if current_user && current_user.admin %>
        <li> <%= link_to "Catalog", tales_path, class: "nav-link" %> </li>
      <% end %>
      <li> <%= link_to "About", about_path, class: "nav-link" %> </li>
      <li> <%= link_to "Devs", devs_path, class: "nav-link" %> </li>
      <li> <%= link_to "Profile", profile_path, class: "nav-link mr-3" %> </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-danger" %>
      <% end %>
    </ul>
  </div>
</div>
