<div class="container mt-4">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item mr-3" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Story</button>
    </li>
    <li class="nav-item mr-3" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Characters</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Map</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p class="text-white text-justify">The Kingdom of Dalrath, the largest human nation ever created, is at the center of the world when it comes to politics, technology, magic, and wealth. The realm has seen its fair share of strife and war, but currently its inhabitants live in an era of peace. <br> <br> That is precisely why so many mercenaries, soldiers of fortune, grave-robbers, and even adventurous nobles have banded together in search of fame, glory, and riches. When there is no adventure to be found at home, one can be certain that in the outskirts and the wilds, there is much treasure and danger to be found.</p></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Halia</h3>
            <p class="text-white text-justify">Halia is a cunning rogue who has lived through the worst scenarios that an uncaring society can afford to its most vulnerable citizens. Born an orphan in the streets of the capital, she has learned to fend for herself since a young age, and when rumors of a vast treasure began circulating, she saw the opportunity for one last job that would mean her retirement. </p>
          </div>
          <div class="col-4 pl-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/halia-card.png", width: 300, height: 300, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/ziraldo-card.png", width: 300, height: 300, crop: :fill) %>
          </div>
          <div class="col-8">
            <h3>Ziraldo</h3>
            <p class="text-white text-justify">Ziraldo is a talented troubador, but in reality he is a scoundrel above all things. He is out for himself first and foremost, and any ally of his would do well to remember that, in the grand scheme of things, all alliances with this man last only as long as mutual interests align. His musical gifts and silver tongue also allow him to be a womanizer of the worst sort, and he is often in trouble at tarverns and bars.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Jorek</h3>
            <p class="text-white text-justify">A dwarf trained in the art of warfare in his homeland, Jorek is regarded as an oddity by most. Having left his home in search of riches and adventure in faraway lands, he found a home in the band of misfits called The Dead Men. While being the only dwarf in these lands might sound lonely, Jorek has not lost his friendly demeanor, dwarven taste for ale, nor his hearty laugh, often heard when he encounters a peculiar custom that he is not accostumed to. </p>
          </div>
          <div class="col-4 pl-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/nicolasenne/image/upload/v1638996697/samples/jorek_ljoaut.png", width: 300, height: 300, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638987142/The%20Hoard%20of%20Adrarth/characters-card/valena-card.png", width: 300, height: 300, crop: :fill) %>
          </div>
          <div class="col-8">
            <h3>Valena</h3>
            <p class="text-white text-justify">Valena is a proud elven ranger, one who is in touch with her heritage and her customs, despite having lived most of her life in human lands. She spent her youth as a member of the slavery liberation movent, and once her people were freed, she saw herself without purpose and wandered the Kingdom trying to correct injustices and prejudices. Recently, however, she heard rumors about a legendary treasure that a dragon stole from the elves in ages past, and decided that not only humans need to atone for their past crimes against her people. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Agronak</h3>
            <p class="text-white text-justify">Renowed as one of the fiercest warriors in the realm, Agronak has fought in bloody gladitorial matches for most of his life, and he has never lost a single bout - the fact that his head is still attached to his body is a testament to that. Having grown bored of never finding a worthy opponent, he accepted the invitation to join a mercenary group hunting a dragon, for what mightier foe is there under the Sun?</p>
          </div>
          <div class="col-4 pl-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/agronak-card.png", width: 300, height: 300, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4 border border-danger rounded">
            <%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638802348/The%20Hoard%20of%20Adrarth/characters-card/barnabas-card.png", width: 300, height: 300, crop: :fill) %>
          </div>
          <div class="col-8">
            <h3>Barnabas</h3>
            <p class="text-white text-justify">Barnabas is a mage and a member of the Circle of Melniboné, the highest place of magical learning in the world. Little is known of his past, even by his closest companions, as he is not one to engage in idle conversations. Not even the face hidden behind the mask has been seen by many; some say he has been disfigured by a magical experiment, while others claim he is an elf masquarading as a human. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><%= image_tag("https://res.cloudinary.com/dpsoxgtgz/image/upload/v1638804940/The%20Hoard%20of%20Adrarth/map.jpg", size: "1100x800", class: "mb-5 border border-danger") %></div>
  </div>
</div>
