<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/001/905/079/large/geoffrey-ernault-thecontractlq.jpg?1454486469);">
  <div class="container text-center">
    <%= image_tag src="logo.png" %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#name-box">
      PLAY NOW
    </button>

    <div class="footer">
      © 2021 TreeBranch Games™ | <a href="https://www.linkedin.com/in/bernardomonclaro/"> Bernardo Monclaro </a> | <a href="https://github.com/brunoneumann90"> Bruno Neumann </a> | <a href="https://www.linkedin.com/in/eduardo-piccin-a14908222/"> Eduardo Piccin </a> | <a href="https://www.linkedin.com/in/karen-caroline-honorio-banci-198827112/"> Karen Banci </a>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="name-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_pc_name">
      <div class="modal-header">
        <h5 class="modal-title modal-title-show" id="exampleModalLabel">And how might you be called, brave one?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-show" >
          <%= form_with url: narratives_path, method: 'PATCH' do |f| %>
          <%= f.text_field :pc_name %>
          <%= f.submit "Begin Your Adventure", class: 'btn-modal-show'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= audio_tag("music_home.mp3", autoplay: true, loop: true) %>
